:root {
    --transition: 0.2s ease;
    --bg-color-sub: #c2c9cc;
    --bg-color: #dfe3e6;
    --color-accent: #1f2b33;
    --box-shadow: 0 0 8px hsla(204, 24%, 16%, 0.5);
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

main {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
}

h2,
header ul,
#works .preview .open {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .1em;
}

h2 {
    text-align: center;
    font-size: clamp(2.8rem, 4vw, 4rem);
    padding-block-start: clamp(6rem, 10vw, 12rem);
}

h2+.text-center {
    padding-block-end: clamp(2rem, 5vw, 5rem);
    letter-spacing: .2em;
}

section {
    padding-block-end: 10rem;
}

/*======= header =======*/

header {
    height: clamp(80vh, 80vh, 960px);
    background-color: #829099;
}

/* ナビゲーション */

header ul {
    gap: 3em;
    z-index: 9999;
    height: 5.5rem;
    box-shadow: var(--box-shadow);
}

header a {
    text-decoration: none;
    font-size: clamp(1.4rem, 3vw, 2rem);
}

header nav a:hover {
    text-decoration-skip-ink: none;
    text-decoration: underline;
}

/* ページタイトル */

header h1 {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;

    inset: 6em auto auto 2em;
}

header h1 p {
    font-size: clamp(3rem, 10vw, 10rem);
    letter-spacing: .1em;
}

header h1 span {
    font-size: clamp(1rem, 2vw, 3rem);
    letter-spacing: .3em;
}

/* イラスト */

header .illust {
    inset: auto 5% 10% auto;
    width: clamp(300px, 35vw, 600px);
}

/* 矢印 */

header .arrow {
    inset: auto 0 -5% 0;
    height: clamp(50px, 10vw, 100px);
}

/*======= skills =======*/

#skills {
    background-color: var(--bg-color);
}

#skills ul {
    width: 50vw;
    max-width: 1000px;
}

#skills ul li:nth-child(n+2) {
    margin-block-start: 2rem;
}

#skills figure {
    padding-block: 4rem;
}

/* 左側 */

#skills figure>div {
    width: 40%;
    padding-inline: 2%;
}

/* 右側 */

#skills figure figcaption {
    width: 60%;
    border-left: 2px var(--bg-color-sub) solid;
    padding-inline: 2em;
}

/* アイコン */

#skills figure .text-center {
    font-size: clamp(1.4rem, 1vw, 1.8rem);
}

#skills figure>div>div {
    width: 25%;
}

#skills h3 {
    font-size: clamp(1.8rem, 2vw, 2.4rem);
    letter-spacing: .1em;
}

/*======= works =======*/

#works {
    background-color: var(--bg-color-sub);
}

/* 一覧 */

#works>.d-flex {
    width: 70vw;
    row-gap: 2rem;
}

#works figure {
    width: 48%;
    box-shadow: var(--box-shadow);
}

/* OPENボタン */

#works .preview .open {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;

    font-size: 3.4rem;
    transition: .3s;
    font-weight: 500;
    letter-spacing: .2em;
}

#works .preview:hover .open {
    opacity: 1;
}

/* githubのボタン */

#works .github img {
    width: 8rem;
    right: 0;
    transition: var(--transition);
}

#works figcaption {
    border-top: 1px solid var(--bg-color);
}

#works figcaption>div {
    padding-block: 1rem 3rem;
    padding-inline: 1em;

}

/* サイト名 */

#works h3 {
    font-size: clamp(1.8rem, 2vw, 2.4rem)
}

/* サイトの種類 */

#works figure p {
    color: #999;
    margin-block-end: .5rem;
}

/* サイトの詳細 */

#works .detail {
    display: flex;
    flex-direction: column;
}

#works .detail dt {
    font-weight: 400;
    width: 5.5em;
}

#works .login dt {
    font-weight: 400;
    width: 7.5em;
}

#works .login dd {
    letter-spacing: .1em;
}

/*======= in progress =======*/

#progress {
    background-color: var(--bg-color);
}

#progress h3 {
    font-size: clamp(1.6rem, 2vw, 2rem)
}

#progress p {
    color: #999;
}

#progress>ul {
    width: 70vw;
}

#progress>ul>li {
    background-color: hsla(0, 0%, 100%, 0.5);
    padding: 6rem 4rem;
    border-radius: 10px;
}

#progress>ul>li:nth-child(n+2) {
    margin-block-start: 10rem;
}

#progress div {
    margin-block-start: 3rem;
}

#progress .pc .cover {
    width: 60%;
}

#progress .sp .cover {
    width: 30%;
    height: auto;
}

#progress>ul>li>.d-flex {
    gap: 4rem;
}

#progress .detail li{
    width: 32%;
}

/*======= other works =======*/

#other {
    background-color: var(--bg-color-sub);
}

#other ul {
    width: 80vw;
    gap: 3rem;
}

#other h3 {
    font-weight: 400;
    font-size: clamp(1.4rem, 2vw, 1.8rem)
}

/*======= about =======*/

#about {
    background-color: var(--bg-color);
}

#about>div {
    width: 55vw;
    max-width: 900px;
}

time {
    letter-spacing: .1em;
    padding-block: 2rem;
    padding-inline-end: 2rem;
}

.timeline-content {
    position: relative;
    padding-block: 2rem;
    padding-inline-start: 2rem;
    border-inline-start: 2px solid var(--color-accent);
}

.timeline-content::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-accent);

    top: 1.7em;
    left: calc(-12px / 2);
}

#about img {
    width: 20vw;
    max-width: 300px;
    padding-inline-start: 1rem;
}

/*======= footer =======*/

footer {
    padding-bottom: 2rem;
    background-color: #1f2b33;
}

footer>div {
    width: 80vw;
    margin-block-end: 6rem;
}

/* 見出し */

footer h2 {
    padding-block-end: 1rem;
    padding-block-start: 4rem;
}

/* メールアドレス */

footer p {
    font-size: clamp(1.2rem, 3vw, 2.2rem);
    letter-spacing: .1em;
}

/* githubのボタン */

footer a {
    width: 60px;
    transition: var(--transition);
}

footer a:hover {
    opacity: .5;
}

footer img {
    width: clamp(40px, 4vw, 60px);
}

footer h6 {
    font-weight: 400;
    font-size: clamp(1rem, 1vw, 1.4rem);
}


@media screen and (max-width: 992px) {

    /* header */
    header {
        height: 60vh;
        min-height: 550px;
    }

    header ul {
        gap: 0;
    }

    header h1 {
        top: 4em;
    }

    /* skills */

    #skills ul {
        width: 80vw;
    }

    #skills figure {
        padding-block: 0;
    }

    #skills figure>div {
        width: 100%;
        padding-block: 3rem 2rem;
        padding-inline: 0;
    }

    #skills figure figcaption {
        width: 100%;
        padding-block-end: 3rem;
        border-left: 0;
    }

    #skills figure>div>div {
        width: 15%;
    }

    #skills h3 {
        border-top: 2px var(--bg-color-sub) solid;
        padding-block-start: 1rem;
    }

    /* works */

    #works>.d-flex {
        width: 88vw;
        row-gap: 2rem;
    }

    #works figure {
        width: 100%;
    }

    #works .preview:hover .open {
        opacity: 0;
    }

    /* in progress */

    #progress > ul {
        width: 88vw;
    }

    #progress > ul > li {
        padding: 4rem 2rem;
    }

    #progress .pc .cover {
        width: 80%;
    }
    
    #progress .sp .cover {
        width: 40%;
        height: auto;
    }

    #progress .detail li:last-child{
        display: none;
    }

    #progress .detail li{
        width: 47%;
    }

    #progress div {
        margin-block-start: 2rem;
    }

    #progress>ul>li>.d-flex {
        gap: 2rem;
    }

    #progress>ul>li:nth-child(n+2) {
        margin-block-start: 6rem;
    }

    /* other works */

    #other ul {
        gap: 4rem;
    }

    /* about */

    #about>div {
        width: 88vw;
    }

    time {
        padding-inline-end: 1rem;
    }

    .timeline-content {
        padding-inline-start: 1rem;
    }

    #about img {
        padding-inline-start: 0;
        padding-block-end: 2rem;
        width: 250px;
    }
}